@charset "utf-8";

html {
    font-size: 90%;
}

header {
    display: flex;
    justify-content: center;
}

main {
    text-align: center;
    font-size: 110%;
}

img {
    width: 70%;
}

.logo {
    text-align: center;
    width: 400px;
}